trabalho-pratico/data-regular/*
trabalho-pratico/data-regular-errors/*
trabalho-pratico/data-regular-errors-invalids/*
trabalho-pratico/out/*
trabalho-pratico/cmd/*
trabalho-pratico/Resultados/*.txt
trabalho-pratico/programa-principal
trabalho-pratico/programa-testes
.bin/*
.vscode/*