trabalho-pratico/db/*
trabalho-pratico/db1/*
trabalho-pratico/out/*
trabalho-pratico/cmd/*
trabalho-pratico/Resultados/*.txt
trabalho-pratico/programa-principal
trabalho-pratico/programa-testes
.bin/*
.vscode/*