trabalho-pratico/data-regular/*
trabalho-pratico/data-regular-errors/*
trabalho-pratico/data-regular-errors-valids/*
trabalho-pratico/data-regular-errors-invalids/*
trabalho-pratico/data-large/*
trabalho-pratico/data-large-errors/*
trabalho-pratico/data-large-errors-invalids/*
trabalho-pratico/data-large-errors-valids/*
trabalho-pratico/data-lite/*
trabalho-pratico/data-mega-lite/*
trabalho-pratico/out/*
trabalho-pratico/cmd/*
trabalho-pratico/test/*
trabalho-pratico/Resultados/*.txt
trabalho-pratico/programa-principal
trabalho-pratico/programa-testes
.bin/*
.vscode/*